* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono';
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    color: var(--text-color);
}

.wrapper {
    width: 55%;
    margin: 0px auto;
    padding: 70px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

:root{
    --main-color: #141D2F;
    --wrap-color: #1E2A47;
    --text-color: #fff;
    --shadow: 0;
}

.light {
    --main-color: #fff;
    --wrap-color: #fff;
    --text-color: #000;
    --shadow: 3px 20px 30px -10px rgba(67, 89, 172, 0.2);
}

.btn {
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:hover {
    transition: 0.3s;
    color: #90A4D4;
}

header i {
    font-size: 0.7rem;
}

form {
    display: flex;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    background-color: var(--wrap-color);
    box-shadow: var(--shadow);
}

form i {
    color: #0079FF;
    font-size: 1.3rem;
    margin: 0 20px;
    cursor: pointer;
    box-shadow: var(--shadow);
}

form input {
    border: none;
    outline: none;
    width: 70%;
    font-size: 1rem;
    color: var(--text-color);
    background-color: transparent;
}

input::placeholder{
    color: var(--text-color);
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    border-radius: 10px;
    background: #0079FF;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s;
    color: #fff;

}

.search-btn:hover {
    transition: 0.3s;
    background-color: #60abff;
}

main {
    border-radius: 15px;
    padding: 40px;
    background-color: var(--wrap-color);
    box-shadow: var(--shadow);
}

.main-top {
    margin-bottom: 30px;
}

.avatar-box {
    display: flex;
    justify-content: space-between;
}

.avatar {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.avatar-box h4 {
    font-size: 1.4rem;
}

.avatar img {
    border-radius: 50%;
}

.avatar-box span {
    font-size: 1rem;
    color: #0079FF;
}

.avatar-box p {
    font-size: 1rem;
}

.main-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 700px;
}

.text {
    font-size: 1rem;
    margin-bottom: 15px;
}

.list {
    display: flex;
    background-color: var(--main-color);
    justify-content: space-around;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: var(--shadow);
}

.links {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 480px;
    gap: 20px;
}

.links div:hover {
    text-decoration: underline;
    cursor: pointer;
}